*.DS_Store
*.iml
.gradle
.idea
.externalNativeBuild
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/src/main/3rdparty/
/app/src/main/jniLibs/
/pdk/build
/app/build
libopencv_*
/app/obj
viewflow/
gradle.properties
