**/*.DS_Store
*.iml
*.apk
.gradle
.idea
.externalNativeBuild
local.properties
build
/docs/keystore
/app/src/main/3rdparty/
/app/src/main/jniLibs/
/app/src/main/jni/include
libopencv_*
viewflow/
keystore.properties
