language: android
jdk: oraclejdk8

env:
  global:
    - ANDROID_API_LEVEL=22
    - ANDROID_BUILD_TOOLS_VERSION=25.0.3
    - ANDROID_ABI=armeabi-v7a
    - ANDROID_TARGET=android-25
    - ADB_INSTALL_TIMEOUT=20 # minutes (2 minutes by default)
  matrix:
    - COMPONENT=BUILD
    - COMPONENT=CONNECTED_TEST
    - COMPONENT=ASSEMBLE_RELEASE

android:
  components:
    - tools
    - platform-tools
    - android-$ANDROID_API_LEVEL
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$ANDROID_API_LEVEL
    # Support library
    - extra-android-support
    # Latest artifacts in local repository
    - extra-google-m2repository
    - extra-android-m2repository
    - android-sdk-license-.+
    - '.+'
    # Specify at least one system image
    - sys-img-armeabi-v7a-android-$ANDROID_API_LEVEL
    
# prevents reuploading of Cache
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - "${TRAVIS_BUILD_DIR}/android/gradle/caches/"
    - "${TRAVIS_BUILD_DIR}/android/gradle/wrapper/dists/"
    - "$HOME/android/.gradle/caches/"
    - "$HOME/android/.gradle/wrapper/"
    - "$HOME/.android/build-cache"

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
  - export NDK_VERSION=r10e
  - curl -L http://dl.google.com/android/ndk/android-ndk-${NDK_VERSION}-linux-x86_64.bin -O
  - chmod u+x android-ndk-${NDK_VERSION}-linux-x86_64.bin
  - ./android-ndk-${NDK_VERSION}-linux-x86_64.bin > /dev/null
  - rm android-ndk-${NDK_VERSION}-linux-x86_64.bin
  - export ANDROID_NDK_HOME=`pwd`/android-ndk-${NDK_VERSION}
  - export PATH=${ANDROID_NDK_HOME}:${PATH}

install:
  - sdkmanager --list || true
  - echo yes | sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout;1.0.2"
  - echo yes | sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout-solver;1.0.2"

licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

before_script:
  - ./scripts/download_open_cv.sh
  - ./scripts/prepare_avd.sh

script:
  - ./scripts/copy_opencv.sh
  - ./scripts/main_script.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash scripts/prep-key.sh
  - 'if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./scripts/upload_apk.sh; fi'

notifications:
  slack: fossasia:JgzycrBUs0nKnmJhsAxCB4bL
