<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.mbm.phimp.me"
    android:versionCode="1"
    android:versionName="1.5" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>
	<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_title"
        android:largeHeap="true"
        >
        <uses-library android:name="com.google.android.maps" />  
        		 <service android:name=".CollectUserData" />
       	 	<!-- Start of Crittercism Support Forum Manifest Code -->
				<activity android:name="com.crittercism.NewFeedbackSpringboardActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
				<activity android:name="com.crittercism.NewFeedbackIssueListActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
				<activity android:name="com.crittercism.NewFeedbackQuestionListActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
				<activity android:name="com.crittercism.NewFeedbackItemDetailsActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
				<activity android:name="com.crittercism.NewFeedbackCreateActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
				<activity android:name="com.crittercism.NotificationActivity"/>	
				
				<service android:name="com.crittercism.service.CrittercismService" android:process="com.crittercism.service" android:exported="true">
    				<intent-filter><action android:name="com.crittercism.service.CrittercismService" /></intent-filter>
				</service>
			<!-- End of Crittercism Support Forum Manifest Code -->    
			<activity android:name=".SplashScreen"
                  
                   android:configChanges="locale"  
                   android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
            <activity  android:name=".PhimpMe"  
                android:configChanges="locale"  
                android:theme="@android:style/Theme.NoTitleBar">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
            
        </activity>
        
        <activity
            android:name=".Camera"
            android:configChanges="locale"
            android:theme="@android:style/Theme.NoTitleBar">
            
        </activity>
        <activity
            android:name=".Camera2"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            
        </activity>            
        <activity android:name=".Upload" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboardHidden|orientation">
            
        </activity>
        <activity
            android:name=".Gallery"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            
        </activity>
        <activity 
            android:name=".ViewImage">
            <intent-filter >
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".newGallery"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            
        </activity>
        <activity

            android:name=".PersonalGallery"
            android:configChanges="locale"
            android:theme="@android:style/Theme.NoTitleBar">
            
        </activity>
        <activity
            android:name=".PhotoSelect"
            android:configChanges="locale"
           >            
        </activity>
          <activity android:name="vn.mbm.phimp.me.image.CropImage" 
              android:configChanges="locale" 
              android:label="CropLabel"
              android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Settings"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
           
        </activity>
        <activity
            android:name=".GalleryMap"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
           
        </activity>         
        <activity
            android:name=".OpenStreetMap"
            android:configChanges="locale"
            android:theme="@android:style/Theme.NoTitleBar">
           
        </activity>
        <activity
            android:name=".UploadMap"
            android:configChanges="locale"
            android:theme="@android:style/Theme.NoTitleBar">
           
        </activity>
        <activity
            android:name=".UploadProgress"
            android:configChanges="locale"
            >
           
        </activity>
       <activity
            android:name=".PhimpMeGallery"
            android:screenOrientation="portrait"
            android:configChanges="locale"
            >
           
        </activity>
        <activity
            android:name="SendFileActivity"
            android:theme="@android:style/Theme.NoTitleBar">
           
        </activity>
        <!-- Paypal -->
         <activity android:name="com.paypal.android.MEP.PayPalActivity"
				  android:theme="@android:style/Theme.Translucent.NoTitleBar"
				  android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="vn.mbm.phimp.me.utils.ViewOriginalImage"
            android:theme="@android:style/Theme.NoTitleBar">
           
        </activity>
        <activity
            android:name="vn.mbm.phimp.me.utils.ViewOriginalImageWebKit"
            android:theme="@android:style/Theme.NoTitleBar">
           
        </activity>
        <activity 
            android:name="vn.mbm.phimp.me.gallery3d.media.Gallery"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation"
            android:clearTaskOnLaunch="true" 
            android:noHistory="false"
            android:stateNotNeeded="true">
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity android:name="vn.mbm.phimp.me.Webkit" android:configChanges="locale" >
           	<intent-filter>
                <action android:name="android.intent.action.VIEW"/>	
			   	<category android:name="android.intent.category.DEFAULT"/>
			   	<category android:name="android.intent.category.BROWSABLE"/>
			  	<data android:scheme="oauth" android:host="tumblr"/>
            </intent-filter>
        </activity> 
          <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
       
    </application>
    <dependency>
		<groupId>com.google.code.gson</groupId>
		<artifactId>gson</artifactId>
		<version>1.7.1</version>
  	</dependency>
</manifest>