.btn-app-store{
    background: black;
	color: white;
	position: relative;
	height: 60px;
	padding-left: 55px;
	padding-right: 20px;
}
.qr {
	margin-left: 150px;
}
.btn-app-store i{
	font-size: 40px;
	position: absolute;
	left: 10px;
}
.btn-app-store .small{
	display: block;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 2px;
        margin-top: 5px;
	margin-left: 150px;
}
.btn-app-store .big{
	display: block;
	text-align: left;
	font-size: 21px;
	line-height: 21px;
}
