<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Phimp.me Android</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <header class="nav-down">
    <div class="container">
      <a href="./" class="logo">Phimp.me</a>
      <nav>
        <a href="./">About</a>
        <a href="./#screenshot">Screenshot</a>
        <a href="./docs.html">Docs</a>
        <a href="./">Contact</a>
        <a href="https://fossasia.org/donate/" target="_blank" rel="noopener" class="btn">Donate</a>
      </nav>
      <button class="navbtn"></button>
    </div>
  </header>

  <div class="mobile-nav">
    <a href="./">About</a>
    <a href="./#screenshot">Screenshot</a>
    <a href="./">Docs</a>
    <a href="./">Contact</a>
    <a href="https://fossasia.org/donate/" target="_blank" rel="noopener">Donate</a>
  </div>

  <main>
