<ul class="social-links">
  {% if site.social-links.github %}<li><a href="https://github.com/{{ site.social-links.github }}"><i class="fa fa-github fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.twitter %}<li><a href="https://twitter.com/{{ site.social-links.twitter }}"><i class="fa fa-twitter fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.facebook %}<li><a href="https://facebook.com/{{ site.social-links.facebook }}"><i class="fa fa-facebook-square fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.instagram %}<li><a href="https://instagram.com/{{ site.social-links.instagram }}"><i class="fa fa-instagram fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.pinterest %}<li><a href="https://pinterest.com/{{ site.social-links.pinterest }}"><i class="fa fa-pinterest fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.youtube %}<li><a href="https://youtube.com/{{ site.social-links.youtube }}"><i class="fa fa-youtube fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.googleplus %}<li><a href="https://plus.google.com/{{ site.social-links.googleplus }}"><i class="fa fa-google-plus fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.email %}<li><a href="mailto:{{ site.social-links.email }}"><i class="fa fa-envelope-o fa-lg"></i></a></li>{% endif %}
</ul>
