---
---

/* Variables */
$primary-blue: #2A71E5;
$gary: #F8F6F6;

/* Basic Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  color: #27283c;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

/* Layouts */

header {
  background: $primary-blue;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  a {
    text-decoration: none;
    color: white;
    transition: all .3s;

    &:hover {
      opacity: 0.75;
    }

    &.btn {
      background: white;
      color: $primary-blue;
      padding: 10px 20px;
      border-radius: 30px;

      &:hover {
        opacity: 1;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
      }
    }
  }

  nav a {
    display: inline-block;
    margin-left: 15px;
  }
}


.banner {
  position: relative;
  padding: 25px 0;
  color: white;
  margin-bottom: 20px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: -200px;
    left: 0;
    right: 0px;
    bottom: 100px;
    background: #2A71E5;
    z-index: -1;
    transform: skewY(11deg);
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .img {
    position: relative;
    background: url(../images/phone.png);
    background-size: cover;
    height: 480px;
    width: 325px;
    background-position: 50%;
  }

  .content {
    margin-top: 40px;
    h1 {
      text-align: right;
      font-size: 2.8rem;
    }

    .app-links {
      margin-top: 30px;
      text-align: right;
      a {
        margin-left: 12px;
         img {
           width: 200px;
         }
      }
    }

    p {
      text-align: right;
      margin-top: 15px;
      a {
        text-decoration: none;
        color: white;
        font-weight: 700;
      }
    }

  }
}


section.about {
  line-height: 1.5;
  margin: 60px 0;

  p {
    max-width: 800px;
    margin: 10px auto 0 auto;
  }
}


section.features {

  margin-bottom: 40px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: 30%;
    text-align: center;
    padding: 30px 35px;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);
    line-height: 1.2;

    p, h2 {
      margin-top: 15px;
    }
  }
}


section.screenshot {
  background: $gary;
  margin: 40px 0;
  padding: 30px 0;

  h1 {
    margin-bottom: 25px;
  }

  .imgs {
    text-align: center;
    img {
      margin: 0 15px;
    }
  }
}
