<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.mbm.phimp.me"
    android:versionCode="1"
    android:versionName="1.5">

    <uses-sdk android:minSdkVersion="8" />
    <uses-feature android:name="android.hardware.camera" />	    
 	<uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>
	<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MEDIA_CON" />
    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_title"        
        android:largeHeap="true"
        tools:replace="android:icon, android:label"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <uses-library android:name="com.google.android.maps" />  
        		 <service android:name=".CollectUserData" />
       	 	<!-- Start of Crittercism Support Forum Manifest Code -->
				<activity android:name="com.crittercism.NewFeedbackSpringboardActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
				<activity android:name="com.crittercism.NewFeedbackIssueListActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
				<activity android:name="com.crittercism.NewFeedbackQuestionListActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
				<activity android:name="com.crittercism.NewFeedbackItemDetailsActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
				<activity android:name="com.crittercism.NewFeedbackCreateActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
				<activity android:name="com.crittercism.NotificationActivity"/>	
				
				<service android:name="com.crittercism.service.CrittercismService" android:process="com.crittercism.service" android:exported="true">
    				<intent-filter><action android:name="com.crittercism.service.CrittercismService" /></intent-filter>
				</service>
			<!-- End of Crittercism Support Forum Manifest Code -->    
			<activity android:name=".SplashScreen"                  
                   android:configChanges="locale"  
                    android:screenOrientation="portrait"
                   android:theme="@android:style/Theme.NoTitleBar">
    		<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>	 
            
        </activity>  
            <activity  android:name=".PhimpMe"  
                android:configChanges="locale"  
                android:theme="@style/Theme.AppCompat.NoActionBar">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
            
        </activity>
        
        <activity
            android:name=".Camera"
            android:configChanges="locale"
            android:theme="@style/Theme.AppCompat.NoActionBar">
             
        </activity>
         <activity
            android:name=".Blank"
            android:configChanges="locale"
            android:theme="@android:style/Theme.NoTitleBar">
             
        </activity>
        <activity android:name="vn.mbm.phimp.me.gallery.PhimpMeGallery"
            android:configChanges="locale"
            android:theme="@style/Theme.AppCompat"
         	android:screenOrientation="portrait"
            >
            
        </activity>
        <activity
            android:name=".Camera2"     
            
            android:configChanges="keyboardHidden|locale|orientation"           
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            
        </activity>            
        <activity android:name=".Upload" 
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="keyboardHidden|orientation">    
         
        </activity>
        <!--<activity-->
            <!--android:name=".gallery3d.media.Gallery"-->
            <!--android:configChanges="locale"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar">-->
            <!---->
        <!--</activity>        -->
        <activity
            android:name=".newGallery"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            
        </activity>
        <!--<activity-->
            <!--android:name=".PersonalGallery"-->
            <!--android:configChanges="locale"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar">-->
        <!--</activity>-->
         <activity

            android:name=".BluetoothShareMultipleFile"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            
        </activity>
        <activity
            android:name=".PhotoSelect"
            android:configChanges="locale"
            android:theme="@style/Theme.AppCompat.NoActionBar"
           >            
        </activity>
          <activity android:name="vn.mbm.phimp.me.image.CropImage"
              android:configChanges="locale"
              android:label="CropLabel"
              android:theme="@style/Theme.AppCompat.NoActionBar"
              android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Settings"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
           
        </activity>
        <activity
            android:name=".GalleryMap"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
           
        </activity>         
        <activity
            android:name=".OpenStreetMap"
            android:configChanges="locale"
            android:theme="@style/Theme.AppCompat.NoActionBar">
           
        </activity>
        <activity
            android:name=".UploadMap"
            android:configChanges="locale"
            android:theme="@style/Theme.AppCompat.NoActionBar">
           
        </activity>
        <!--<activity-->
            <!--android:name=".UploadOSMap"-->
            <!--android:configChanges="locale"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar">-->
        <!--</activity>-->
        
        <activity
            android:name=".UploadProgress"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
           
        </activity>
        <activity
            android:name=".DrupalWebviewActivity"
            android:configChanges="locale"
            android:theme="@style/Theme.AppCompat.NoActionBar">
           
        </activity>
        <activity
            android:name=".WordpressWebviewActivity"
            android:configChanges="locale"
            android:theme="@style/Theme.AppCompat.NoActionBar">
           
        </activity>
        <activity
            android:name=".JoomlaWebviewActivity"
            android:configChanges="locale"
            android:theme="@style/Theme.AppCompat.NoActionBar">
           
        </activity>
      <!--  <activity
            android:name=".PhimpMeGallery"
            android:screenOrientation="portrait"
            android:configChanges="locale"
         	android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            >
           
        </activity> -->
        <activity
            android:name="SendFileActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            >
           
        </activity>
        <!-- Paypal -->
         <activity android:name="com.paypal.android.MEP.PayPalActivity"
				  android:theme="@android:style/Theme.Translucent.NoTitleBar"
				  android:configChanges="keyboardHidden|orientation"/>
        <!--<activity-->
            <!--android:name="vn.mbm.phimp.me.utils.ViewOriginalImage"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar">-->
           <!---->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="vn.mbm.phimp.me.utils.ViewOriginalImageWebKit"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar">-->
           <!---->
        <!--</activity>-->
        <activity 
            android:name="vn.mbm.phimp.me.gallery3d.media.Gallery"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation"
            android:clearTaskOnLaunch="true" 
            android:noHistory="false"
            android:stateNotNeeded="true">
        </activity>

        <activity
            android:name="vn.mbm.phimp.me.gallery3d.media.CropImage"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation"
            android:clearTaskOnLaunch="true"
            android:noHistory="false"
            android:stateNotNeeded="true">
        </activity>

        <activity android:name="vn.mbm.phimp.me.Webkit" android:configChanges="locale" >
           	<intent-filter>
                <action android:name="android.intent.action.VIEW"/>	
			   	<category android:name="android.intent.category.DEFAULT"/>
			   	<category android:name="android.intent.category.BROWSABLE"/>
			  	<data android:scheme="oauth" android:host="tumblr"/>
            </intent-filter>
        </activity> 
          <!--<activity android:name="com.google.ads.AdActivity"-->
              <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>-->
       <!---->
       <!-- wordpress -->
       <activity
            android:name="org.wordpress.android.NewAccount"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            >
       </activity>
       <activity
            android:name="org.wordpress.android.Signup"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
       </activity>
       <activity
            android:name="org.wordpress.android.AddAccount"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
       </activity>
       <activity
            android:name="org.wordpress.android.AddAcountSettings"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
       </activity>

        <activity android:name=".feedservice.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider1781584438783986"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

    </application>
    <dependency>
		<groupId>com.google.code.gson</groupId>
		<artifactId>gson</artifactId>
		<version>1.7.1</version>
  	</dependency>
</manifest>